<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
      xmlns:t="http://typo3.org/ns/Causal/Theodia/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:layout name="Default"/>

<f:section name="Main">
    <f:if condition="{eventsGroupedByDay}">
        <f:then>
            <f:render section="Events" arguments="{groupedEvents:eventsGroupedByDay, numberEvents:numberEvents, isPartial:isPartial, plugin:plugin}"/>
        </f:then>
        <f:else>
            <div class="alert alert-info" role="alert">
                <f:translate key="events.empty"/>
            </div>
        </f:else>
    </f:if>

    <t:jsonLd events="{events}"/>
</f:section>

<f:section name="Events">
    <f:if condition="{isPartial} && {settings.showMoreLink}">
        <f:then>
            <div id="theodia-list-{plugin.uid}" data-events="{numberEvents}">
                <f:render partial="Event/GroupedEvents" arguments="{groupedEvents:groupedEvents}"/>
            </div>

            <button data-theodia-show-more="1"
                    data-theodia-target="theodia-list-{plugin.uid}"
                    data-theodia-plugin="{plugin.uid}"
                    data-theodia-url="{f:uri.action(action:'showMore', pageType:1718265459)}"
                    class="btn btn-primary">
                <f:translate key="events.showMore"/>
            </button>

            <f:asset.script identifier="theodia" src="EXT:theodia/Resources/Public/JavaScript/theodia-more.js"/>
        </f:then>
        <f:else>
            <f:render partial="Event/GroupedEvents" arguments="{groupedEvents:groupedEvents}"/>
        </f:else>
    </f:if>
</f:section>

</html>
