<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
      xmlns:t="http://typo3.org/ns/Causal/Theodia/ViewHelpers"
      data-namespace-typo3-fluid="true">

<div class="theodia-events">
    <f:if condition="{eventsGroupedByDay}">
        <f:then>
            <f:render section="Events" arguments="{groupedEvents:eventsGroupedByDay}"/>
        </f:then>
        <f:else>
            <div class="alert alert-info" role="alert">
                <f:translate key="events.empty"/>
            </div>
        </f:else>
    </f:if>

    <t:jsonLd events="{events}"/>
</div>

<f:section name="Events">
    <f:for each="{groupedEvents}" as="dayEvents">
        <h4>{dayEvents.date -> f:format.date(format:settings.eventDateFormat)}</h4>

        <f:for each="{dayEvents.events}" as="event">
            <f:render section="Event" arguments="{event:event}"/>
        </f:for>
    </f:for>
</f:section>

<f:section name="Event">
    <div class="theodia-event {f:if(condition:event.cancelled, then:'event-cancelled')}">
        <div class="event-time">
            {event.start -> f:format.date(format:settings.eventTimeFormat)}
        </div>
        <div class="event-detail">
            <span class="event-title">
                <f:if condition="{event.cancelled}">
                    <span class="badge badge-danger"><f:translate key="event.cancelled"/></span>
                </f:if>
                {event.name}
            </span>

            <f:alias map="{place: event.place}">
                <f:if condition="{settings.showLocation}">
                    <div class="event-location">
                        <f:if condition="{place.page_uid}">
                            <f:then><f:link.page pageUid="{place.page_uid}">{place.name}</f:link.page></f:then>
                            <f:else>{place.name}</f:else>
                        </f:if>
                    </div>
                </f:if>
            </f:alias>

            <f:comment>
                <!-- show link to download ICS file -->
                <a href="https://theodia.org/api/feed?language=en&events={event.id}">ICS</a>
            </f:comment>
        </div>
    </div>
</f:section>

</html>